<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/common::head('Login')}">
</head>
<body>
<div class="container">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="ID">
        <label for="floatingInput">ID</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
</div>
</body>
</html>